.blog-card {

  &__img {
    max-width: 100%;
    object-fit: contain;
    display: block;
  }

  &__img:hover {
    @include increase();
  }

  &__title {
    padding-top: 2rem;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    font-size: .55rem;
    color: $text-color-lite;
    line-height: 163%;
  }

  &__description {
    padding-top: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 130%;
  }
}

@media (max-width: $smDesktopWidth) {
  .blog-card {

    &__title {
      padding-top: .5rem;
      font-size: .5rem;
    }

    &__description {
      padding-top: 1rem;
    }
  }
}

@media (max-width: $phoneWidth) {
  .blog-card {

    &__description {
      padding-top: .5rem;
    }
  }
}