.graph {

  &__price {

  }

  &__body {
    min-width: 3.9rem;
    height: 7.5rem;
    background-color: $text-color-lite;
  }

  &__title {
    display: block;
    font-size: .65rem;
    margin-top: 1rem;
  }
}

.graph:nth-child(2) > div {
    height: 15rem;
}

@media (max-width: $tableWidth) {
  .graph {

    &__body {
      height: 5rem;
      width: 3rem;
      min-width: auto;
    }

    &__title {
      white-space: nowrap;
      margin-top: .5rem;
    }
  }

  .graph:nth-child(2) > div {
    height: 10rem;
  }
}