.header {

  &__container {
    min-height: 4.5rem;
    max-width: 67.75rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    line-height: 153%;
    font-size: .7rem;
    padding-bottom: .4rem;
  }

  &__logo {
    flex: 1 1 4%;
    order: 2;
    padding-top: .6rem;
  }

  &__nav {
    flex-shrink: 1;
    order: 2;
  }

  &__buttons {
    display: flex;
    flex: 0 0 21.2%;
    margin-left: 5.2%;
    order: 3;
  }

  &__demo {
    color: $white;
    display: flex;
    white-space: nowrap;
    padding: .5rem .75rem;
    border-radius: .3rem;
    align-items: center;
    justify-content: center;
    background-color: $text-color-lite;
    margin-right: 1.45rem;
  }

  &__demo:hover {
    background-color: $text-color;
  }

  &__login {
    font-size: .65rem;
    margin-right: 2.2rem;
  }

  &__login:hover {
    @include increase();
  }

  &__language:hover {
    @include increase();
  }

  &__language {
    text-transform: uppercase;
    font-size: .65rem;
  }

  &__burger {
    min-width: 1.5rem;
    height: 1rem;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    order: 1;
    margin-right: 1.5rem;
  }

  &__burger-item {
    display: block;
    border: .05rem solid $black;
    width: 100%;
  }
}

.icon-arrow-down:after {
  font-size: .4rem;
  padding-left: .2rem;
}

@media (max-width: $smDesktopWidth) {
  .header {

    &__container {
      min-height: 3rem;
      padding-bottom: 0;
    }

    &__logo {
      padding-top: 0;
    }

    &__burger {
      display: flex;
    }
  }
}

@media (max-width: $tableWidth) {
  .header {

    &__container {
      min-height: 2.5rem;
    }

    &__demo {
      display: none;
    }

    &__login {
      margin-right: 1rem;
    }
  }
}