.nav-menu {

  &__list {
    display: flex;
    align-items: center;
    gap: 2.6rem;
    flex-wrap: wrap;
  }

  &__item {
    padding: .4rem 0;
  }

  &__link {
    transition: padding-bottom .3s, transform .5s;
  }

  &__link:hover {
    padding-bottom: .4rem;
    border-bottom: 3px solid $text-color;
  }
}

@media (max-width: $desktopWidth) {
  .nav-menu {

    &__list {
      gap: 1.5rem;
    }
  }
}

@media (max-width: $smDesktopWidth) {
  .nav-menu {

    &__list {
      padding-top: 1rem;
      background-color: $white;
      height: 100vh;
      flex-direction: column;
      position: absolute;
      top: 2.5rem;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      align-items: center;
      display: none;
    }

    &__item {
      font-size: .9rem;
    }
  }
}

.header__nav > .mobile-active {
  display: flex;
}