.slider {

  &__wrapper {
    position: relative;
    align-items: center;
    display: flex;
    padding: 0 4rem;
    justify-content: center;
    gap: 4rem;
  }

  &__company-logo:hover {
    @include increase();
  }

  &__pagination {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    top: 50%;
    bottom: 50%;
  }

  &__back {
    left: 0;
  }

  &__back:first-child {
    transform: rotate(200grad);
  }

  &__next {
    right: 0;
  }
}

@media (max-width: $desktopWidth) {
  .slider {

    &__wrapper {
      gap: 2rem;
      justify-content: space-evenly;
    }

    &__company-logo:nth-child(2n) {
      display: none;
    }
  }
}

@media (max-width: $smTableWidth) {
  .slider {

    &__company-logo:not(:first-child) {
      display: none;
    }
  }
}