.swiper {
  position: relative;

  .swiper-wrapper {
    align-items: center;
    display: flex;
    margin: 5.2rem 4rem 6rem;
    justify-content: center;
    gap: 4rem;
  }

  .swiper-company-logo:hover {
    @include increase();
  }

  .swiper-pagination {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    top: 50%;
    bottom: 50%;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-prev:first-child {
    transform: rotate(200grad);
  }

  .swiper-button-next {
    right: 0;
  }
}

@media (max-width: $desktopWidth) {
  .swiper {
    .swiper-wrapper {
      gap: 2rem;
      justify-content: space-evenly;
    }


  }
}

@media (max-width: $smDesktopWidth) {
  .swiper {
    .swiper-wrapper {
      margin: 4rem 4rem 4rem;
      gap: 3rem;
    }

    .swiper-slide:nth-child(4),
    .swiper-slide:nth-child(5) {
      display: none;
    }
  }
}

@media (max-width: $tableWidth) {
  .swiper {
    .swiper-wrapper {
      margin: 3rem 4rem 3rem;
      gap: 2rem;
    }
  }
}

@media (max-width: $phoneWidth) {
  .swiper {
    .swiper-wrapper {
      margin: 2rem 4rem 2rem;
    }
  }
}

@media (max-width: $smTableWidth) {
  .swiper {
    .swiper-slide:not(:first-child) {
      display: none;
    }
  }
}