@font-face {
  font-family: "Raleway";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url("/src/fonts/Raleway-Black.woff") format('woff'),
  url("/src/fonts/Raleway-Black.woff2") format('woff2');
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/Raleway-Bold.woff") format('woff'),
  url("/src/fonts/Raleway-Bold.woff2") format('woff2');
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/Raleway-Regular.woff") format('woff'),
  url("/src/fonts/Raleway-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/Roboto-Bold.woff") format('woff'),
  url("/src/fonts/Roboto-Bold.woff2") format('woff2');
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/Roboto-Regular.woff") format('woff'),
  url("/src/fonts/Roboto-Regular.woff2") format('woff2');
}

