.title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 127%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: $smDesktopWidth) {
  .title {
    font-size: 1.4rem;
  }
}

@media (max-width: $tableWidth) {
  .title {
    font-size: 1.2rem;
  }
}

@media (max-width: $phoneWidth) {
  .title {
    font-size: 1rem;
  }
}