$white: #ffffff;
$text-color: #214E41;
$text-color-hover: #162a25;
$text-color-lite: #43806C;
$grey: #757575;
$orange: #F0A446;
$black: #222222;
$separator: #C7C7C7;
$aqua: #E3EEED;

$main-font: "Raleway", sans-serif;
$main-font-size: 20px;
$main-font-weight: 400;
