.about-us {
  padding: 6.5rem 0 6rem;

  &__container {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-evenly;
  }

  &__text {
    max-width: 24rem;
    padding-bottom: .8rem;
    padding-left: .5rem;
  }

  &__information {
    align-self: center;
    margin-top: 5rem;
  }

  &__diagram {
    max-width: 25.5rem;
  }

  &__diagram-wrapper {
    display: flex;
    gap: 2.5rem;
  }

  &__percents {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    line-height: 128.5%;
  }

  &__diagram-text {
    padding-top: 1.5rem;
    display: block;
    font-weight: 700;
    letter-spacing: 0.02px;
    font-size: .65rem;
    line-height: 169%;
    max-width: 12rem;
  }

  &__border {
    border-bottom: 1px solid $text-color;
  }

  &__graphs {
    text-align: center;
    font-size: .65rem;
    line-height: 169%;
    display: flex;
    gap: 2rem;
    align-items: flex-end;
  }

  &__diagram-description {
    display: flex;
    margin-top: .5rem;
    justify-content: flex-end;
    padding-right: .4rem;
    font-size: .65rem;
    color: $grey;
    line-height: 169%;
  }

  &__separator {
    bottom: .1rem;
  }
}

@media (max-width: $smDesktopWidth) {
  .about-us {
    padding: 4rem 0 5rem;

    &__container {
      flex-direction: column;
      gap: 2rem;
    }

    &__percents {
      font-size: 2.5rem;
    }

    &__diagram-text {
      padding-top: 1rem;
    }
  }
}

@media (max-width: $tableWidth) {
  .about-us {
    padding: 3rem 0 3.5rem;

    &__container {
      gap: 1rem;
    }

    &__graphs {
      gap: 1rem;
      width: 50%;
    }

    &__diagram-text {
      padding-top: .5rem;
    }

    &__diagram-wrapper {
      gap: 1.5rem;
    }
  }
}

@media (max-width: $phoneWidth) {
  .about-us {
    padding: 2rem 0 2rem;
  }

  &__diagram-wrapper {
    gap: 1rem;
  }
}