.banner {
  background-size: cover;
  background-image: url("/dist/assets/banner-bg.png");
  background-color: #dac5ea;
  padding: 8.05rem 0 14.05rem;
  font-weight: 700;

  &__wrapper {
    max-width: 27rem;
  }

  &__description {
    padding-top: 2rem;
    display: block;
    font-size: .8rem;
    line-height: 150%;
  }

  &__frame {
    display: flex;
    max-width: 20.15rem;
    min-height: 3rem;
    margin-top: .8rem;
  }
}

.frame {

  &__text {
    flex: 0 1 69.5%;
    background-color: $white;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem 0 0 .3rem;
    font-size: .7rem;
    line-height: 143%;
  }

  &__link {
    background-color: $text-color-lite;
    color: $white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 .3rem .3rem 0;
    font-size: .65rem;
    line-height: 153%;
  }

  &__link:hover {
    background-color: $text-color;
  }
}

@media (max-width: $smDesktopWidth) {
  .banner {
    padding: 5rem 0 10rem;
    background-position-x: 70%;
    position: relative;
    z-index: 1;

    &__frame {
      min-height: 2.5rem;
      max-width: 15rem;
      font-size: .6rem;
    }

    &__description {
      font-size: .65rem;
    }
  }

  .frame {
    &__text {
      font-size: .65rem;
    }

    &__link {
      font-size: .65rem;
    }
  }

  .banner:before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -5;
    height: 100%;
    opacity: .4;
  }
}

@media (max-width: $tableWidth) {
  .banner {
    padding: 4rem 0 8.5rem;

    &__description {
      padding-top: 1rem;
    }
  }
}

@media (max-width: $phoneWidth) {
  .banner {
    padding: 3.5rem 0 7rem;
  }
}