.banner {
  background-image: url("/dist/assets/banner-bg.png");
  background-size: cover;
  padding: 8.05rem 0 14.05rem;
  font-weight: 700;

  &__container {
  }

  &__wrapper {
    max-width: 27rem;
  }

  &__text {
  }

  &__title {
  }

  &__description {
    padding-top: 2rem;
    display: block;
    font-size: .8rem;
    line-height: 150%;
  }

  &__frame {
    display: flex;
    max-width: 20.15rem;
    min-height: 3rem;
    margin-top: .8rem;
  }
}

.frame {

  &__text {
    flex: 0 1 69.5%;
    background-color: $white;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem 0 0 .3rem;
    font-size: .7rem;
    line-height: 143%;
  }

  &__link {
    background-color: $text-color-lite;
    color: $white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 .3rem .3rem 0;
    font-size: .65rem;
    line-height: 153%;
  }

  &__link:hover {
    background-color: $text-color;
  }
}