.benefits {
  padding-top: 3rem;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
  }

  &__card {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: .65rem;
  }

  &__number {
    font-family: 'Roboto', sans-serif;
    color: $orange;
    font-size: 3rem;
    line-height: 130%;
    text-transform: uppercase;
  }

  &__text {
    letter-spacing: 0.02px;
    line-height: 169%;
    font-size: .65rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
}

@media (max-width: $tableWidth) {
  .benefits {

    &__container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }

    &__card {
      max-width: 11rem;
    }
  }
}

@media (max-width: $smTableWidth) {
  .benefits {

    &__container {
      gap: 1rem;
    }background-image

    &__card {
      max-width: 13rem;
    }
  }
}

@media (max-width: $phoneWidth) {
  .benefits {
    padding-top: 2rem;

    &__container {
      gap: .5rem;
    }
  }
}