.blog {
  padding: 6rem 0;

  &__container {
  }

  &__wrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex: 0 1 100%;
  }

  &__card {
    max-width: 17.75rem;
    width: 100%;
  }
}


