.blog {
  padding: 6rem 0;

  &__container {
  }

  &__wrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex: 0 1 100%;
  }

  &__card {
    max-width: 17.75rem;
    width: 100%;
  }
}

@media (max-width: $smDesktopWidth) {
  .blog {
    padding-top: 4rem;

    &__wrapper {
      gap: 1rem;
    }
  }
}

@media (max-width: $tableWidth) {
  .blog {
    padding: 3rem 0;

    &__wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: $phoneWidth) {
  .blog {
    padding: 2rem 0;
  }
}