.employers {
  position: relative;

  &__container {
    display: flex;
    max-width: 62rem;
  }

  &__header {
    text-transform: uppercase;
    letter-spacing: 0.05px;
    font-size: .65rem;
    line-height: 153%;
  }

  &__left-block {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 131.25%;
    padding: 6rem 1rem 6rem 0;
    flex: 1 1 50%;
  }

  &__left-block:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $aqua;
    z-index: -1;
  }

  &__link {
    display: flex;
    align-items: center;
    padding-top: 1.45rem;
    font-weight: 700;
  }

  &__list {
    padding-top: .9rem;
    display: flex;
    flex-direction: column;
    color: $text-color-lite;
  }

  &__item {
    gap: .9rem;
  }

  &__right-block {
    padding: 6rem 0 6rem 1rem;
    flex: 0 1 50%;
    color: $white;
    gap: 1.7rem;
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
  }

  &__right-block:before {
    content: '';
    position: absolute;
    width: 50%;
    background-color: $text-color;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }

  &__text {
    max-width: 25.5rem;
    line-height: 170%;
    padding-right: .5rem;
    letter-spacing: 0.02px;
  }
}

.icon-arrow-left:after {
  padding-left: 1.5rem;
  font-size: 1rem;
}

@media (max-width: $smDesktopWidth) {
  .employers {

    &__left-block {
      padding: 4rem 1rem 4rem 0;
    }

    &__right-block {
      padding: 4rem 0 4rem 1rem;
      gap: 1.3rem;
    }
  }
}

@media (max-width: $tableWidth) {
  .employers {

    &__left-block {
      font-size: 1.2rem;
      padding: 2.5rem 1rem 2.5rem 0;
    }

    &__right-block {
      font-size: .7rem;
      padding: 2.5rem 0 2.5rem 1rem;
      justify-content: center;
    }

    .icon-arrow-left:after {
      padding-left: 1rem;
      font-size: .8rem;
    }
  }
}

@media (max-width: $phoneWidth) {
  .employers {

    &__left-block {
      width: 50%;
      font-size: .7rem;
      padding: 1rem .5rem 1rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__list {
      gap: .5rem;
    }

    &__right-block {
      width: 50%;
      padding: 1rem 0 .5rem 1rem;
    }
  }
}