.information {
  background-image: url("/src/img/girl-bg.jpg");
  background-color: $aqua;
  background-size: cover;

  &__container {
    padding: 6.3rem 1rem 6.5rem;
  }

  &__text {
    max-width: 24.3rem;
  }

  &__separator {
    bottom: -.5rem;
  }
}

@media (max-width: $smDesktopWidth) {
  .information {
    background-position-x: 70%;
    position: relative;
    z-index: 1;

    &__container {
      padding: 4rem 1rem 4rem;
    }
  }

  .information:before {
    content: '';
    position: absolute;
    background-color: $white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -5;
    height: 100%;
    opacity: .6;
  }
}

@media (max-width: $tableWidth) {
  .information {

    &__container {
      padding: 3rem 1rem 3rem;
    }
  }
}

@media (max-width: $phoneWidth) {
  .information {

    &__container {
      padding: 2rem 1rem 2rem;
    }
  }
}