.members {
  padding-top: 5.8rem;

  &__container {
    display: flex;
    align-items: center;
  }

  &__image-wrapper {
    flex: 0 1 50%;
    padding-left: 5.75rem;
  }

  &__image-wrapper > img {
    display: block;
  }

  &__text {
    flex: 0 0 49.3%;
    align-self: center;
    padding-bottom: 3rem;
    padding-left: 2.4rem;
  }

  &__text > span {
    font-weight: 700;
  }
}

@media (max-width: $smDesktopWidth) {
  .members {
    padding-top: 4rem;

    &__container {
      justify-content: center;
    }

    &__image-wrapper {
      padding-left: 0;
    }

    &__image-wrapper > img {
      margin: 0 auto;
    }
  }
}

@media (max-width: $tableWidth) {
  .members {
    padding-top: 3rem;

    &__image-wrapper {
      flex: 0 0 35%;
    }

    &__image-wrapper > img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: $smTableWidth) {
  .members {

    &__container {
      flex-direction: column-reverse;
      gap: 1.5rem;
    }

    &__image-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    &__text {
      padding-left: 0;
      padding-bottom: 1rem;
    }

    &__image-wrapper > img {
      object-fit: contain;
      max-height: 12rem;
    }
  }
}

@media (max-width: $phoneWidth) {
  .members {
    padding-top: 2rem;
  }
}